/* General */
:root {
    --color-primary: #3C415C;
    --color-secondary: darkmagenta;
    --color-headings: ivory;
    --color-body: #151515;
}

body {
    background-color : var(--color-body);
    max-width: 1140px;
    margin: 0 100px;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 2.4rem;
    line-height: 1.5;
    color: var(--color-headings);
}

a{
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.img-wrap{
    position: relative;
    width: 100%;
    height: 640px;
    background-image: url("/static/images/sky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 0 2rem;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

/* Typography */
html {
  /* 62.5% of 16px = 10px */
  font-size: 62.5%;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 2rem;
}

h4 {
   font-size: 1.4rem;
}

p{
    font-size: 1.5rem;
}

/* Grids */
.grid {
    display: grid;
}

.grid--1x2 {
    grid-template-columns: repeat(2,1fr)
}

/* Lists */
.list {
    list-style: none;
    padding-left: 0;
}

/* Navigation Bar */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-secondary);
    font-size: 1.6rem;
    padding: 0 1.5rem;
}

.nav__list {
    display: flex;
}

.nav-list__item {
    margin: 5px 10px;
    transition: color 0.8s ease;
}

.nav-list__item:hover {
    color: var(--color-headings);
}

/* Presentation */
.presentation {
    color: var(--color-headings);
    padding: 12rem 3rem;
    text-align: center;
    background-image: url("/static/images/sky2-large.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: top center;
    margin: 0 0 2rem;
}

.presentation > p {
    max-width: 50ch;
    margin: 0 auto;
}

/* Project */
.project {
    display: flex;
    flex-direction: column;
    color: var(--color-headings);
    max-width: 400px;
    box-shadow: 6px 6px 9px rgba(0,0,0,0.8);
    border-radius: 7%;
    margin: 5rem 1.6rem;
}

.project__content{
    padding: 0 0.7rem;
}

.project__title{
    color: var(--color-secondary);
}

.project__img {
    width: 400px;
    height: 300px;
    border-radius: 7%;
}

.project__tags {
    display: flex;
    justify-content: flex-left;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}

/* Showroom */
.showroom{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-secondary);
    margin: 8rem 0;
    padding: 0 0 2rem;
}

.showroom__content {
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.previous-project,
.next-project  {
    width: 55px;
    height: 55px;
    margin: 0 5rem;
    transition: transform 0.4s ease;
    fill: var(--color-secondary);
}

.previous-project:hover{
    transform: translateX(-10px);
}

.next-project:hover{
    transform: translateX(10px);
}

/* Footer */
.footer {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.footer__icon{
    width: 35px;
    height: 35px;
    margin: 1rem 5rem;
    fill: var(--color-secondary);
}

.footer__social-icon {
    transition: fill 0.8s ease;
}

.footer__social-icon:hover {
    fill: var(--color-headings);
}

/* Scroll-list */
.scroll-list {
    overflow: hidden;
    width: 430px;
}

.projects-container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.5s ease-in-out;
}

/* Tags */
.tag {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--color-secondary);
    border-radius: 20px;
    color: var(--color-body);
    margin: 1rem 0 1rem 1rem;
}

.tag__header{
   margin: 0 0 0 0.5rem;

}

.tag__icon{
    width: 20px;
    height: 20px;
    margin: 0.5rem;
    fill: var(--color-body);
}

/* Contact */

.contact{
    margin: 50px auto;
}

.contact__header{
   .place-items: center;
}

.contact__header img {
    max-width: 100%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 400px;
    border-radius: 20px;
}

.contact__header h3 {
    max-width: 30ch;
    text-align: center;
    margin: auto;
}