<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title%}{%endblock%}</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <nav class="nav">
        <span> Ale Alvarado | Software Developer </span>
        <ul class="list nav__list">
            <li class="list__item">
                <a href="{{url_for('home')}}">Home</a>
            </li>
            <li class="list__item">About</li>
            <li class="list__item">
                <a href="{{url_for('contact')}}">Contact</a>
            </li>
        </ul>
    </nav>
    {% block content %}{% endblock %}
    <section class="footer">
            <svg class="footer__icon">
                <use xlink:href="/static/images/wolf.svg#wolf"></use>
            </svg>
            <a href="https://www.linkedin.com/feed/">
                <svg class="footer__icon footer__social-icon">
                    <use xlink:href="/static/images/linkedin.svg#linkedin"></use>
                </svg>
            </a>
        </section>
</body>
</html>