{% extends "base.html" %}

{% block title %}Contact{% endblock %}

{% block content %}
    <section class="container contact">
        <header class="contact__header">
            <div class="grid grid--1x2">
                <h3>Feel free to contact me about projects ideas
                or any feedback you may have about my job.</h3>
                <img src="{{url_for('static', filename='images/wall-e.jpg')}}">
            </div>
        </header>

        <div class="contact__body">

        </div>
    </section>


    <script src="/static/js/scripts.js"></script>

{% endblock %}