<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Portfolio</title>
        <link rel="stylesheet" href="/static/css/styles.css">
    </head>
   <body>
        <section class="showroom">
    <h2 class="showroom__title"> Showroom</h2>
    <div class="showroom__content">
        <svg class="previous-project" id="previous-btn">
            <use xlink:href="/static/images/left-arrow.svg#previous"></use>
        </svg>
        <div class="scroll-list">
            <div class="projects-container">
                {% for project in projects %}
                    <article class="project">
                        <img class="project__img" src="{{project.image}}" alt="">
                        <div class="project__content">
                            <h3 class="project__title">{{project.name}}</h3>
                            <p>{{project.description}}</p>
                            <div class="project__tags">
                                <article class="tag">
<h4 class="tag__header">CSS</h4>
  <img src="static/images/css.svg" class="tag__icon" alt="">
</article>
                                <article class="tag">
<h4 class="tag__header">Python</h4>
  <img src="static/images/python.svg" class="tag__icon" alt="">
</article>

                                <article class="tag">
<h4 class="tag__header">Python</h4>
  <img src="static/images/python.svg" class="tag__icon" alt="">
</article>

                                <article class="tag">
<h4 class="tag__header">Python</h4>
  <img src="static/images/python.svg" class="tag__icon" alt="">
</article>
                                <article class="tag">
<h4 class="tag__header">Python</h4>
  <img src="static/images/python.svg" class="tag__icon" alt="">
</article>
                                <article class="tag">
<h4 class="tag__header">Python</h4>
  <img src="static/images/python.svg" class="tag__icon" alt="">
</article>



                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </div>

        <svg class="next-project" id="next-btn">
            <use xlink:href="/static/images/right-arrow.svg#next"></use>
        </svg>
    </div>
</section>
    </body>
</html>